

body
{
    background-color: #ffffff;
    
}

.green
{
    color: rgb(102, 255, 0);
    
}


.phrase
{
    color: blueviolet;
}

.avertissement
{
    color: cornsilk;
}
body {
    width: 500px;
    margin: 0 auto;
  }
  
  p {
    background: rgba(4, 0, 255, 0.849);
    border: 3px solid blue;
    padding: 10px;
    margin: 10px;
  }
  
  span {
    background: red;
    border: 1px solid black;
  }
  
  .positioned {
    position: absolute;
    background: yellow;
    top: 30px;
    left: 30px;
  }
  #deux {
    position: relative;
    top: 200px;
    left: -0px;
 }
 .box {
     color: rgb(146, 146, 146);
 }
.brown {
    color:rgba(212, 100, 36, 0.829)
}
#un {
    position: relative;
    font-size: 50px;
    left: -450px;
    top: 50px;
}

